	body {
		overflow-y: hidden;
		margin: 0;
		background-color: #22529b;
		background-image: url(background.avif);
		background-attachment: fixed;
		background-position: 50%;
		background-repeat: no-repeat;
		background-size: cover;
		font-family: inter;
		font-weight: 500;
		font-size: 16px;
		color: #fff
	}
	
	* {
		box-sizing: border-box!important;
		user-select: none!important;
		list-style-type: none!important
	}
	
	*::selection {
		background-color: rgba(5, 104, 252, 0.25)
	}
	
	body>img {
		opacity: 0;
		position: absolute;
		top: -32px;
		left: -64px
	}
	
	main {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 320px;
		display: flex;
		flex-direction: column
	}
	
	.box {
		width: 100%;
		padding: 8px;
		background-color: rgba(23, 82, 77, 0.5);
		border-style: solid;
		border-color: rgba(0, 0, 0, .29);
		border-width: 3px;
		border-radius: 11px;
		box-shadow: 0 4px 8px 2px rgba(0, 0, 0, .33)
	}
	
	section.list {
		height: 392px;
		margin-bottom: 16px
	}
	
	.boxTitle {
		display: flex;
		align-items: center;
		padding-top: 2px;
		padding-left: 4px;
		padding-bottom: 8px
	}
	
	.boxTitle span {
		margin-left: 9px
	}
	
	ul.items {
		display: flex;
		background-color: rgba(0, 0, 0, .33);
		border-radius: 4px;
		width: 100%;
		height: calc(100% - 34px);
		margin: 0;
		padding: 3px;
		padding-bottom: 0;
		flex-direction: column;
		overflow-y: auto;
		scrollbar-width: thin;
		scrollbar-color: #666 transparent
	}
	
	ul.items li {
		margin-bottom: 3px;
		display: flex;
		width: 100%;
		min-height: 26px;
		border-radius: 2px;
		font-size: 14px;
		align-items: center;
		padding-left: 8px;
		padding-bottom: 1px
	}
	
	ul.items li:hover {
		background-color: rgba(126, 126, 126, 0.08)
	}
	
	ul.items li.selected {
		background-color: rgba(85, 85, 85, .25)
	}
	
	li .tag {
		background-color: rgba(58, 117, 114, .33);
		border-radius: 2px;
		font-size: 10px;
		font-weight: 400;
		padding-left: 4px;
		padding-right: 4px;
		margin-left: 6px;
		margin-top: 1px;
		pointer-events: none
	}
	
	section.downloads .downloadButtons {
		display: flex;
		height: 30px
	}
	
	.downloadButtons a {
		font-size: 14px;
		padding-bottom: 1px;
		color: #fff;
		text-decoration: none;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 3px;
		min-width: 0
	}
	
	.downloadButtons a.turquoise {
		background-color: rgba(5, 104, 252, 0.25)
	}
	
	.downloadButtons a.turquoise:hover {
		background-color: rgba(5, 104, 252, 0.25)
	}
	
	.downloadButtons a.turquoise:active {
		background-color: rgba(59, 117, 114, .2);
		outline: 3px solid rgba(59, 117, 114, .67)
	}
	
	.downloadButtons a.dark {
		margin-right: 8px;
		background-color: rgba(0, 0, 0, .29)
	}
	
	.downloadButtons a.dark:last-child {
		margin-right: 0;
		margin-left: 8px
	}
	
	.downloadButtons a.dark:hover {
		background-color: rgba(0, 0, 0, .2)
	}
	
	.downloadButtons a.dark:active {
		background-color: rgba(0, 0, 0, .15);
		outline: 3px solid rgba(0, 0, 0, .29)
	}
	
	aside {
		pointer-events: none
	}
	
	aside * {
		pointer-events: auto
	}
	
	aside.left {
		position: absolute;
		top: 0;
		left: 0;
		height: 100vh;
		padding: 12px
	}
	
	aside.left .box {
		width: 180px;
		border-radius: 8px
	}
	
	aside.left img {
		filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .33));
		margin-bottom: 12px
	}
	
	aside.left .search {
		display: flex;
		gap: 6px;
		padding: 6px
	}
	
	.search #optiSearch {
		width: 136px;
		background: 0 0;
		border: none;
		outline: none;
		color: #fff;
		font-family: Inter;
		font-size: 14px;
		font-family: 500
	}
	
	aside.left .categories {
		margin-top: 8px;
		display: flex;
		flex-direction: column;
		padding: 4px;
		padding-bottom: 0
	}
	
	ul.categories li {
		margin-bottom: 4px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-bottom: 1px;
		border-radius: 3px
	}
	
	ul.categories li:hover {
		background-color: rgba(59, 117, 114, .2)
	}
	
	ul.categories li.selected {
		background-color: rgba(49, 81, 129, 0.67)
	}
	
	aside.left .bottom {
		position: absolute;
		bottom: 12px
	}
	
	article.box {
		padding-left: 12px;
		padding-right: 12px
	}
	
	article.box * {
		margin: 0;
		font-size: 14px;
		font-weight: 400
	}
	
	article.box h1 {
		margin-bottom: 10px;
		text-align: center;
		font-size: 16px;
		font-weight: 500
	}
	
	article.box b {
		font-weight: 600
	}
	
	aside.left .social {
		padding: 0;
		padding-left: 4px;
		padding-right: 4px;
		margin: 0;
		margin-top: 10px;
		display: flex;
		justify-content: center
	}
	
	.social a {
		margin-left: 6px;
		margin-right: 6px;
		width: 32px;
		height: 32px;
		display: flex;
		align-items: center;
		justify-content: center;
		filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .33))
	}
	
	.social a:hover {
		opacity: .66
	}
	
	aside.right {
		display: flex;
		flex-direction: column;
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 12px
	}
	
	aside.right .box {
		margin-top: 12px;
		width: auto;
		align-self: flex-end;
		border-radius: 8px;
		padding: 4px;
		display: flex;
		gap: 4px
	}
	
	aside.right .ad {
		width: 140px;
		height: 290px
	}
	
	.ad img {
		border-radius: 6px;
		width: 100%;
		height: 100%;
		filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .33))
	}
	
	aside.right .chat {
		display: none;
		border: none;
		border-radius: 8px;
		filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .33));
		height: 460px
	}
	
	aside.right button {
		width: 48px;
		height: 32px;
		border: none;
		background: 0 0;
		border-radius: 3px;
		display: flex;
		align-items: center;
		justify-content: center
	}
	
	aside.right button:hover {
		background-color: rgba(5, 104, 252, 0.25)
	}
	
	aside.right button:active {
		transform: none
	}
	
	aside.right button.selected {
		background-color: rgba(5, 104, 252, 0.25)
	}
	
	@media(max-height:600px) {
		article.box {
			display: none!important
		}
	}
	
	@media(max-height:494px) {
		section.list {
			height: calc(100dvh - 102px)
		}
	}
	
	@media(orientation:portrait) or (max-width:705px) {
		main {
			top: calc(50dvh - 30px);
			width: calc(100vw - 24px)
		}
		section.list {
			height: calc(100dvh - 290px)
		}
		aside.right {
			display: none
		}
		aside.left {
			width: 100vw
		}
		article.box {
			display: none!important
		}
		aside.left img {
			margin-top: 4px;
			margin-left: 4px
		}
		aside.left .categories {
			flex-direction: row;
			overflow-x: auto;
			width: calc(100vw - 24px);
			scrollbar-width: thin;
			scrollbar-color: #666 transparent;
			position: absolute;
			top: calc(100dvh - 68px)
		}
		ul.categories li {
			padding-left: 8px;
			padding-right: 8px
		}
		aside.left .search {
			width: calc(100vw - 24px);
			position: absolute;
			top: calc(100dvh - 110px);
			padding: 0;
			padding-left: 8px;
			align-items: center
		}
		.search #optiSearch {
			height: 38px;
			width: 100%;
			font-size: 16px
		}
		aside.left .bottom {
			position: absolute;
			top: 18px;
			right: 12px;
			height: 32px
		}
		aside.left .social {
			margin-top: 0
		}
	}
	
	@media(max-width:410px) {
		aside.left img {
			opacity: .5
		}
	}